@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
  padding: 0;
  margin: 0;
}
/* body{
  width: 100%;
  height: 100vh;
  background-color:
  display: flex;
  justify-content: center;
  align-items: center;
  
} */
.main_body{
  width: 100%;
  height: 100vh;
  background-color:  #021526;
  /* display: flex;
  justify-content: center;
  align-items: center; */
 
 
  
}
.main_body_all{
  width: 100%;
  height: 700px;
  background-color:  #1783e1;
  display: flex;
  justify-content: space-between;
 flex-direction: row;
  align-items: center;
 

}
.budget_text{
  font-size: 34px;
  font-weight: 600;
  font-family:"IBM Plex Mono" ;
  color: #6EACDA;
}
.heading_text{
  width: 700px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Salary_inputs{
  width: 700px;
  height: 700px;
  background-color: #021526;
  display: flex;
 justify-content: center;
  flex-direction: column;
  align-items: center;
  

}
input{
  width: 400px;
  height: 45px;
  border-radius: 10px;
  background-color: #6EACDA;
  outline: none;
  border-style: double;
  border: none;
  font-weight: 600;
  color: #03346E;
  font-size: 18px;
 
}
::placeholder{
  font-weight: 600;
  color: #E2E2B6;
  padding: 20px;
}
.salarys_two_column{
  width: 250px;
  height: 170px;
  /* background-color: aliceblue; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
h1{
  color: #E2E2B6;
  font-size: 20px;
  font-weight: 600;
}
.total_text_and_box{
  width: 250px;
  height: 170px;
  /* background-color: rgb(156, 128, 128); */
  display: flex;
  flex-direction: column;
 
  align-items: center;
}
.box_total{
  width: 200px;
  height: 100px;
  /* background-color: #03346E; */
  display: flex;
  justify-content: center;
  align-items: center;

  
}
button{
  width: 100px;
  height: 50px;
  border-radius: 14px;
  font-weight: 600;
  outline: none;
  border: none;
  cursor: pointer;
}
.total_sal{
  width: 250px;
  height: 60px;
  /* background-color: rgb(0, 183, 122); */
  display: flex;
  justify-content: center;
  align-items: center;
}
.total_salary_text{
  color: #01ad34;
  font-size: 32px;
  font-weight: 600;
  font-family: "IBM Plex Mono";
}
.expenses{
  width: 900px;
  height: 700px;
  background-color: #021526;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.exp_text_div{
  width: 500px;
  height: 70px;
  display: flex;
  justify-content: center;
 
}
.exp_text{
  font-size: 30px;
  color:white;
  font-family: "IBM Plex Mono";
}
.item_and_price{
  width: 500px;
  height:350px;
  /* background-color: blue; */
  
  
}
.Items{
  
  

}
.price_inputs{
 width: 400px;
 height: 200px;
 /* background-color: #01ad34; */

 
}
.items_divs{
  width: 90px;
  height: 40px;
}
.price_rs{
  width: 240px;
  border-radius: 10px;
  border: solid #021526;
  height: 36px;
 
  

}
.expenses_btn_and_res{
  width: 500px;
  height: 70px;
  /* background-color: turquoise; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.exp_text_last{
  width: 500px;
  height: 120px;
  display: flex;
  justify-content: space-around;
  /* background-color: yellow; */
  align-items: center;

}
.balance_btn{
  width: 140px;
  height: 35px;
  border-radius: 14px;
  font-weight: 600;
  outline: none;
  border: none;
  cursor: pointer;
  background-color:#03346E;
  color: #E2E2B6;
}
.balance_display{

 font-size: 37px;
 color: red;
 font-family: "IBM Plex Mono";

}
.plain_balance_text{

 font-size: 27px;
 color: #E2E2B6;
 font-weight: 600;
 font-family:"IBM Plex Mono" ;
}
.balance_div{
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.add_items_div{
  width: 250px;
  height: 70px;
  display: flex;
  justify-content: end;
  align-items: center;
  /* background-color: #E2E2B6; */
  
}
.item_shows{
  width: 400px;
  height: 160px;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-around;
  overflow: hidden;


}
.item_names{
  width: 200px;
  height: 40px;
  /* background-color: azure; */

}
.price_number{
  width: 200px;
  height: 40px;
  display: flex;
  flex-direction: column;
  /* background-color: rgb(132, 0, 101); */


}
.item_price_inputs_{
  width: 200px;
  height: 30px;
}
.add_btn{
  width: 100px;
  height: 30px;
  border-radius: 14px;
  font-weight: 600;
  outline: none;
  border: none;
  cursor: pointer;

}